
body{
    padding: 0%;
}
#lilly-icon{
    position: fixed;
    bottom: 8px;
    right: 16px;

}

#lilly_txt{
    position: fixed;
    bottom: 260px;
    right: 80px;
    color:white;
}

#lilly_txt_bubble{
    position: fixed;
    bottom: 200px;
    right: 64px;
    color:deeppink;
}

#lilly-txt-area{
    position: fixed;
    bottom: 8px;
    right: 16px;

}
#lilly_txt_2{
    position: fixed;
    bottom: 240px;
    right: 80px;
    color:white;
}
#lilly-txt-area-sub{
    position: relative;
    top: 0;
    left: 0;
}

#container{
    position: relative;
    top: 0;
    left: 0;
}

#serach_area{
    position: fixed;
    top: 8px;
    right: 16px;
    width: 30%;

}