
<div id="container" style="margin: 0px;">

    <div id="serach_area">
        <!-- <app-searh-area (selectFromChild) = "signalFromSearchArea=$event"></app-searh-area> -->
        <app-searh-area (selectFromChild) = "catchFrom()" (selectToChild) = "catchTo()" [msgSrchAreaFromChild]="msgSearchAreaFrom" [msgSrchAreaToChild]="msgSearchAreaTo"  (FinalCheckedChild)="FinalCheckedParent=$event" (FinalFromChild)="FinalFromParent=$event"  (FinalToChild)="FinalToParent=$event" (FinalAlgoChild)="FinalAloParent=$event"  (FinalSignal)="SearchApi()"  (ShowRL)="ShowRLAppcomp()"></app-searh-area>
        {{signalFromSearchArea}}
    </div>
    <!-- [FinalFromParentZcMap] ="FinalFromParent" [FinalToParentZcMap] ="FinalToChild" [FinalAlgoParentZcMap] ="FinalAlgoChild" [FinalCheckedParentZcMap] ="FinalChecked" [clickSubject]="clickSubject" -->
    <app-zc-map [signalZcMapFromChild]="signalCatchFromMain" [signalZcMapToChild]="signalCatchToMain"  (valueFrom) = "userSelectedFrom($event)" (valueTo) = "userSelectedTo($event)" [FinalFromParentZcMap] ="FinalFromToZcMap" [FinalToParentZcMap] ="FinalToToZcMap" [FinalAlgoParentZcMap] ="FinalAlgToZcMap" [FinalCheckedParentZcMap] ="FinalCheckedToZcMap"  [TypeOfSignalZcMap] ="TypeOfSignalToZcMap"  [events]="eventsSubject.asObservable()" ></app-zc-map>
    <div id="lilly-txt-area">
        <div id="lilly-txt-area-sub">
            <img src="\assets\speech-bubble.png" id="lilly_txt_bubble" width="180px" height="140px">
            <h2  id="lilly_txt"> Let me do the</h2>
            <h2  id="lilly_txt_2"> search for you</h2>
        </div>
        
    </div>
    
    <img src="\assets\lilly_icon.png" id="lilly-icon" width="200px" height="200px">
</div>


<router-outlet></router-outlet>